<div class="container">
  <h1 class="title">Controle de Garagens 🚗</h1>

  <div class="garagens">
    <!-- Garagem Cimatec -->
    <div class="garagem garagem-cimatec">
      <h2>Cimatec Park</h2>
      <p>
        Veículos no local:
        <strong>{{ contagemCimatec }}</strong>
      </p>

      <div class="historico">
        <label for="dataCimatec">Selecionar data para histórico:</label>
        <input id="dataCimatec" type="date" />
        <button class="btn-historico">Ver Histórico</button>
      </div>
    </div>

    <!-- Garagem VIP -->
    <div class="garagem garagem-vip">
      <h2>VIP</h2>
      <p>
        Veículos no local:
        <strong>{{ contagemVIP }}</strong>
      </p>

      <div class="historico">
        <label for="dataVIP">Selecionar data para histórico:</label>
        <input id="dataVIP" type="date" />
        <button class="btn-historico">Ver Histórico</button>
      </div>
    </div>
  </div>
</div>
